.done-recipes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.done-recipes-section .done-recipe-card {
  align-items: center;
  background-color: #f3d7db;
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  width: 45%;
}

.done-recipes-section .done-recipe-card a {
  margin-bottom: 4px;
  text-align: center;
  text-decoration: none;
}

.done-recipes-section .done-recipe-card h2 {
  color: #272343;
  font-size: 20px;
}

.done-recipes-section .done-recipe-card .done-recipe-image {
  border-radius: 4px;
  width: 100%;
}

.done-recipes-section .done-recipe-card h3 {
  color: rgb(130, 130, 130);
  font-size: 16px;
  margin-bottom: 4px;
}


.done-recipes-section .done-recipe-card h4 {
  font-size: 14px;
  margin-bottom: 4px;
  text-align: center;
}

.done-recipes-section .done-recipe-card .tags-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.done-recipes-section .done-recipe-card .tags-div span {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 2px black;
  margin: 4px;
  padding: 4px 8px;
}

.done-recipes-section .done-recipe-card .share-div img {
  cursor: pointer;
}

.done-recipes-section .done-recipe-card .share-div .link-copied {
  background-color: white;
  box-shadow: 0 0 4px black;
  display: none;
  padding: 4px 16px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
}
