.done-recipes-filter-buttons {
  display: flex;
  justify-content: center;
  margin: 12px 0;
  padding: 0 8px;
  width: 100%;
}


.done-recipes-filter-buttons button {
  background-color: rgb(98, 226, 238);
  border: none;
  border-radius: 2px;
  color: #272343;
  cursor: pointer;
  font-weight: 700;
  margin: 0 8px;
  padding: 8px 0;
  width: 30%;
}

.done-recipes-filter-buttons .selected {
  background-color: #8ac926;
}
