.favorite-recipes-content {
  position: relative;
}

.favorite-recipes-background {
  background-image: url('../images/foods-background.png');
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.favorite-recipes-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.favorite-recipes-section .favorite-recipes-not-found {
  font-family: Fredoka One , cursive;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
}

.favorite-recipes-section .favorite-recipe-card {
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  display: flex;
  margin: 8px;
  overflow: hidden;
}

.favorite-recipes-section .favorite-recipe-card a {
  text-decoration: none;
}

.favorite-recipes-section .favorite-recipe-card .favorite-recipe-link {
  align-items: center;
  display: flex;
  width: 40%;
}

.favorite-recipes-section .favorite-recipe-card .favorite-recipe-image {
  box-shadow: 0 1px 4px black;
  width: 100%;
}

.favorite-recipes-section .favorite-recipe-card .favorite-recipe-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  width: 60%;
}

.favorite-recipe-card .favorite-recipe-info h3 {
  color: rgb(130, 130, 130);
  font-family: Josefin Sans , sans-serif;
  font-size: 18px;
}


.favorite-recipe-card .favorite-recipe-info h2 {
  color: black;
  font-family: Fredoka One , cursive;
  font-size: 20px;
  font-weight: 100;
}

.favorite-recipe-card .favorite-recipe-info .favorite-share-div {
  display: flex;
  justify-content: center;
}


.favorite-recipe-card .favorite-recipe-info .favorite-share-div div {
  margin: 8px;
}

.favorite-recipe-card .favorite-recipe-info .favorite-share-div img {
  cursor: pointer;
}

.favorite-recipe-card .favorite-recipe-info .favorite-share-div .link-copied {
  background-color: white;
  box-shadow: 0 0 4px black;
  display: none;
  left: 0;
  padding: 8px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
}
