.login-section {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.background-div {
  background-image: url('../images/foods-background.png');
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0.8;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.form-div {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.form-div form {
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 60%;
}

.form-div a {
  margin: 8px 0 4px;
}

.form-div a input {
  background-color: #c8cdd1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.form-div form h1 {
  font-family: Fredoka One , cursive;
  font-weight: 100;
}

.form-div form div input {
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  font-family: ABeeZee , sans-serif;
  font-size: 16px;
  margin: 8px 0 4px;
  outline: none;
  padding: 4px 8px;
  transition: 0.1s ease-in-out;
  width: 100%;
}

.form-div a input:enabled {
  background-color: #17a2b8;
}

.form-div form div input:focus {
  outline: 2px solid rgb(30, 36, 36, 0.3);
}

.form-div form a {
  width: 100%;
}

