.recipe-in-progress-section {
  position: relative;
}

.recipe-in-progress-section .background {
  background-image: url('../images/foods-background.png');
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.recipe-in-progress-section .card {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  display: flex;
  margin: 8px;
  overflow: hidden;
}

.recipe-in-progress-section .card-img-div {
  align-items: center;
  display: flex;
  margin-right: 8px;
  width: 40%;
}

.recipe-in-progress-section .card-img-div img {
  box-shadow: 0 2px 8px black;
  width: 100%;
}

.recipe-in-progress-section .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  width: 60%;
}

.recipe-in-progress-section .ingredients-div div {
  font-family: ABeeZee , sans-serif;
  margin: 4px 0;
}

.recipe-in-progress-section .card-info div:nth-child( 1 ) {
  padding-top: 4px;
}

.recipe-in-progress-section .card-info h3 {
  align-self: flex-start;
  color: rgb(130, 130, 130);
  font-family: Josefin Sans , sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.recipe-in-progress-section .card-info h2 {
  align-self: center;
  font-family: Fredoka One , cursive;
  font-size: 20px;
  font-weight: 100;
}

.recipe-in-progress-section .favorite-share-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-in-progress-section .favorite-share-div img {
  cursor: pointer;
  margin: 4px 8px;
}

.recipe-in-progress-section .favorite-share-div span {
  background-color: white;
  box-shadow: 0 0 4px black;
  display: none;
  left: 0;
  padding: 8px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
}

.recipe-in-progress-section .ingredients-div {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  margin: 8px;
  padding: 8px 16px;
}

.recipe-in-progress-section .ingredients-div h3 {
  font-family: Fredoka One , cursive;
  font-weight: 100;
  text-align: center;
}


.recipe-in-progress-section .ingredients-div input {
  margin-right: 8px;
}

.recipe-in-progress-section .instructions-div {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  margin: 8px;
  padding: 8px 16px;
}

.recipe-in-progress-section .instructions-div h3 {
  font-family: Fredoka One , cursive;
  font-weight: 100;
  margin-bottom: 8px;
  text-align: center;
}

.recipe-in-progress-section .instructions-div p {
  font-family: ABeeZee , sans-serif;
  text-align: justify;
}

.recipe-in-progress-section .finish-btn-div {
  margin: 18px 0;
  padding: 0 8px;
}

.recipe-in-progress-section .finish-btn-div button {
  background-color: rgb(205, 205, 205);
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 4px black;
  font-family: Acme , sans-serif;
  font-size: 22px;
  padding: 16px 0;
  width: 100%;
}

.recipe-in-progress-section .finish-btn-div button:enabled {
  background-color: rgb(245, 66, 63);
  border: none;
  color: white;
  cursor: pointer;
}

