.recipes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.recipes-section a {
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) , 0 6px 10px rgba(0, 0, 0, 0.14) , 0
    1px 18px rgba(0, 0, 0, 0.12);
  margin: 8px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 45%;
}

.recipes-section div {
  align-items: center;
  display: flex;
  text-align: center;
  width: 100%;
}

.recipes-section div h2 {
  background-color: rgb(0, 0, 0, 0.2);
  bottom: 0;
  color: white;
  font-family: Akaya Telivigala , cursive;
  font-size: 28px;
  font-weight: 300;
  left: 0;
  max-height: 120px;
  padding: 16px 0;
  position: absolute;
  right: 0;
}

.recipes-section div img {
  height: 100%;
  width: 100%;
}
